.listItem{
    display: flex;
    flex-direction: column;
}
.image-slider{
    width: 60vw;
    height: auto;
}
.button_image{
    width: 60vw;
    height: 30px;
    background-color: black;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ArrowForward{
    color:"white";
    justify-self:"flex-end"
}
.caption{
    color:"white"
}
.textInsideImage{
    position: "absolute";
    width: "50px"; 
    font-size: "10px";
    color: "red"
}
.ImageContainer{
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "center"
}
.Container{
    width: 100%;
    height: 100%;
}
.SecondContainer{
    width: "100%";
    height: "20%";
}