.dialog {
  z-index: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgvepBJUTrIAgqexE7J9Z7ZofuHY75H6NumhpoumoIJ3vkABnPT-vuZr79-XJPgN-Z77E&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  animation: DialogMove 1s ease-out alternate;
  padding-top: 140px;
}
.kk {
  animation: DialogMove 1s ease-out reverse;
}
@keyframes DialogMove {
  from {
    width: 40%;
    height: 40%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}


.title{
  color: #456797;
}
.definition{
color:#859dbb ;
font-size: 16px;
font-weight: 500; 
}

.questionTimer{
  text-transform: uppercase;
  color:#456797;
  font-size: 14px;
  font-weight: 500;
}