.icon {
  color: rgb(102, 140, 255);
  animation: iconOpacity 2s;
}
.iconWrapper {
  z-index: 2000;
  position: absolute;
  background-color: #fff !important;
  bottom: 0;
  /* left: 50%; */
  display: block;
  animation: iconOpacity2 4s;
}

@keyframes iconOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes iconOpacity2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
